.page-header {
  min-height: 100px;
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-position: -30px 73px;
  background-size: 854px 284px;
  overflow: hidden;
}

.page-header__container {
  display: block;
  width: 100%;
  max-width: 2460px;
  margin: 0 auto;
  padding: 0 10px;
}

.page-header__top {
  position: fixed;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0;
  z-index: 100;
}

.page-header__logo-text {
  font-size: 24px;
  color: #292f39;
  display: none;
  @extend %transition;
}

.page-header__logo {
  position: absolute;
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 1000;
    @extend %transition;
  &:hover .page-header__logo-text {
    display: inline;
  }
}
.page-header__logo:hover .page-header__logo-img {
  fill: $basis;
}

.page-header__logo-img {
  display: block;
  width: 55px;
  height: 50px;
  margin: 0 auto;
  @extend %transition;
}


.main-nav__trigger {
  position: absolute;
  right: 20px;
  padding: 12px 0;
  justify-content: center;
  box-sizing: content-box;
  width: 40px;
  height: 20px;
  background-color: transparent;
  user-select: none;
  z-index: 1000;
  cursor: pointer;
  &:hover .main-nav__trigger-button,
  &:hover .main-nav__trigger-button::before,
  &:hover .main-nav__trigger-button::after {
    background-color: $basis;
  }
}

.main-nav__trigger span {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 3px;
  background-color: $black;
  user-select: none;
  box-shadow: 0px 0px 1px 0px #bbbbbb;
  @extend %transition;
  &::before{
    content: "";
    position: absolute;
    right: 0;
    top: -8px;
    width: 100%;
    height: 3px;
    background-color: $black;
    box-shadow: 0px 0px 1px 0px #888888;
    @extend %transition;
  }
  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 8px;
    width: 28px;
    height: 3px;
    background-color: $black;
    box-shadow: 0px 0px 1px 0px #888888;
    @extend %transition;
  }
}

.page-header__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 69px;
}

.page-header__title {
  position: relative;
  display: inline-block;
  padding-top: 83px;
  font-weight: bold;
  font-size: 31px;
  &:after {
    content: "";
    position: absolute;
    top: 3px;
    right: -45px;
    width: 100px;
    height: 115px;
    background: url("../img/gr.svg") no-repeat;
  }
}

.page-header__description {
  text-align: center;
  width: 70%;
  padding-top: 31px;
  padding-bottom: 97px;
  font-size: 25px;
  line-height: 29px;
}

.main-nav__dropdown {
  position: fixed;
  height: 100%;
  min-width: 320px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  background-color: $white;
  z-index: 110;
  transition-duration: .4s;
}

.main-nav__dropdown-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-nav__list {
  margin-top: 75px;
  text-align: center;
}

.main-nav__link {
  color: $black;
  font-size: 30px;
  line-height: 60px;
  @extend %transition;
  &:hover {
    color: $basis;
  }
}

.main-nav__link--activ::after {
  content: "";
  display: block;
  width: 140%;
  height: 3px;
  background: $black;
  margin-left: -20%;
}

.main-nav__language-link {
  display: inline-block;
  box-sizing: border-box;
  width: 45px;
  height: 35px;
  margin: 16px 4px;
  font-size: 16px;
  line-height: 34px;
  color: $white;
  background-color: $black;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid transparent;
}

.main-nav__language--activ {
  background-color: $white;
  border: 2px solid $black;
  color: $black;
}

.main-nav__home-link {
  margin-top: 16px;
  cursor: pointer;
  @extend %transition;
  &:hover {
    fill: $basis;
  }
}

svg path {
stroke: inherit;
stroke-width: inherit;
fill: inherit;
}

.page-footer--top-menu {
  margin-top: 31px;
  border-top: 1px solid #e9e9ea;
}
