.works__item {
  display: block;
  margin-bottom: 10px;
  overflow: hidden;
}

.works__item--first {
    height: 53vw;
    width: auto;
}

.works__text-description {
  margin-top: 30px;
  font-size: 19px;
  line-height: 30px;
  text-align: center;
}

.works__text-description--mobile {
  max-height: 65px;
  overflow: hidden;
}

.works__link {
display: block;
width: 240px;
padding: 18px 63px;
margin:0 auto;
margin-top: 36px;
font-size: 17px;
border: 1px solid white;
border-radius: 50px;
background-color: $basis;
color: $white;
&:hover {
  background-color: darken($basis, 10%);
}
}
