.works__item {
  display: block;
  position: relative;
  margin-bottom: 10px;
  overflow: hidden;
  @transition @extend;
}

.works__item--hover-first {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1% 34%;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.works__item:hover .works__item--hover-first {
  opacity: 1;
}

.works__text-description {
  margin-top: 28px;
  font-size: 19px;
  line-height: 30px;
  text-align: center;
}

.works__text-description--mobile {
  max-height: 65px;
  overflow: hidden;
}

.works__link {
display: block;
width: 240px;
padding: 18px 63px;
margin:0 auto;
margin-top: 36px;
font-size: 17px;
border: 1px solid white;
border-radius: 50px;
background-color: $basis;
color: $white;
@extend %transition;
&:hover {
  background-color: darken($basis, 10%);
}
}

.works__item--big {
    height: 53vw;
   width: auto;
 }
