$black: #000000;
$white: #ffffff;
$pink: #c536a5;
$blue: #475993;
$basis: #40d3ad;

$tablet-width: 640px;
$ipad-width: 1024px;
$desktop-width: 1280px;
$large-width: 1920px;
$extra-large-width: 2550px;
